services:
  app:
    restart: unless-stopped
    deploy:
      placement:
        constraints: [node.role == manager]
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:3000 || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 40s
    build: .
    expose:
      - "3000"
    environment:
      - NITRO_HOST=0.0.0.0
      - NITRO_PORT=3000
      - HOST=0.0.0.0
      - PORT=3000
      - NITRO_DEV=false
      - NODE_ENV=production
      - NITRO_PRESET=bun #Or bun if custom

    networks:
      - dokploy-network

  nginx:
    deploy:
      placement:
        constraints: [node.role == manager]
    image: nginx:alpine
    depends_on:
      - app
    expose:
      - "80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - nginx-cache:/var/cache/nginx
    networks:
      - dokploy-network

networks:
  dokploy-network:
    external: true

volumes:
  nginx-cache:
