@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html {
  height: 100%;
  width: 100%;
}

html,
body {
  background-color: #000;
  color: #fff;
}

body {
  @apply m-0;

  height: 100%;
  width: 100%;

  font-family: "Domine", "Libre Baskerville", "Times New Roman", Times, Garamond, Georgia, ui-serif, serif;

  /* font-family: "Libre Baskerville", serif; */
  font-optical-sizing: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Source Code Pro", Menlo, Monaco, Consolas, "Courier New", monospace;
}

@keyframes text-flow {
  0% {
    background-image: linear-gradient(to bottom,
        rgba(100, 40, 190, 0.8) 0%,
        rgba(200, 90, 40, 0.8) 40%,
        rgba(100, 40, 190, 0.8) 100%);

    background-position: 0% 0%;
  }

  100% {
    background-image: linear-gradient(to bottom,
        rgba(100, 40, 190, 0.8) 0%,
        rgba(200, 90, 40, 0.8) 40%,
        rgba(100, 40, 190, 0.8) 100%);

    background-position: 0% 125%;
  }
}

@theme {
  --animate-fade-in: fade-in 1s ease-in forwards;

  @keyframes fade-in {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
}
