@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html {
  height: 100%;
  width: 100%;
}

html,
body {
  background-color: #000;
  color: #fff;
}

body {
  @apply m-0;

  height: 100%;
  width: 100%;

  font-family: "Domine", "Libre Baskerville", "Times New Roman", Times, Garamond, Georgia, ui-serif, serif;

  /* font-family: "Libre Baskerville", serif; */
  font-optical-sizing: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Source Code Pro", Menlo, Monaco, Consolas, "Courier New", monospace;
}

@keyframes animate-text-character {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
